<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Issues List</h2>
        </div>
        <div class="form-group" *ngIf="issues.length > 0">
            <input type="text" id="search-text" class="form-control" aria-describedby="search-text" (keydown)="restPagination($event)" [(ngModel)]="searchText" placeholder="Search Issue Name" />
        </div>
        <div class="card-body">
            <mat-accordion class="example-headers-align" multi *ngFor="let issue of issues | IssueFilter: searchText | paginate: {id: 'issues_id' , itemsPerPage: itemsPerPage, currentPage: p };">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2>{{issue.issueName}}
                                <span *ngIf="!issue.issueType">(Typical)</span>
                                <span *ngIf="issue.issueType">(Urgent)</span>
                            </h2>
                            <h4>{{issue.deadline | date :'M/d/yyyy'}} </h4>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12" *ngIf="issue.department">
                                <div class="card-issue">
                                    <div class="card-header-issue">
                                        <h2>Department</h2>
                                    </div>
                                    <div class="card-body-issue">
                                        <p>{{issue.department?.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12" *ngIf="issue.choiceOne">
                                <div class="card-issue">
                                    <div class="card-header-issue">
                                        <h2>Choice One</h2>
                                    </div>
                                    <div class="card-body-issue">
                                        <p>{{issue.choiceOne}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12" *ngIf="issue.choiceTow">
                                <div class="card-issue">
                                    <div class="card-header-issue">
                                        <h2>Choice Tow</h2>
                                    </div>
                                    <div class="card-body-issue">
                                        <p>{{issue.choiceTow}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12" *ngIf="issue.choiceThree">
                                <div class="card-issue">
                                    <div class="card-header-issue">
                                        <h2>Choice Three</h2>
                                    </div>
                                    <div class="card-body-issue">
                                        <p>{{issue.choiceThree}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" *ngIf="issue.note">
                                <div class="card-issue">
                                    <div class="card-header-issue">
                                        <h2>Note</h2>
                                    </div>
                                    <div class="card-body-issue">
                                        <p>
                                            {{issue.note}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" *ngIf="issue.attachments">
                                <div class="card-issue">
                                    <div class="card-header-issue">
                                        <h2>Attachments</h2>
                                    </div>
                                    <div class="card-body-issue px-0">
                                        <div class="upload-table ">
                                            <ul class="list-group ">
                                                <li class="list-group-item " *ngFor="let item of issue.attachments">
                                                    <div>
                                                        <div class="fw-bold">{{item.name}}</div>
                                                        <span>{{humanFileSize(item.size )}}</span>
                                                    </div>
                                                    <span class="badge "><i class="uil uil-eye"><a href="{{item.name}}"></a></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="pagination-section" *ngIf="issues.length > 0">
                <pagination-controls previousLabel="" nextLabel="" id="issues_id" (pageChange)="handlingPagination($event) "></pagination-controls>
            </div>
            <div class="empty-img" *ngIf="issues.length <= 0">
                <img src="./assets/images/Empty.png" alt="Empty-photo">
                <span>No Issues Added Yet! </span>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
  Tooltip on right
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
</button>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
  Tooltip on left
</button>
