// Custom Theming for Angular Material
@import '~@angular/material/theming';
@import '~ngx-toastr/toastr';
:root {
    --red: #97005e;
    /* --yellow: #f5bf23; */
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .3);
    --font-secondary: ui-monospace;
    --primary-color: #1976d2;
    --first-color: #682666;
    --second-color: #cf0a2c;
    --third-color: #e73e51;
    --fourth-color: #ffce00;
    --text-center: center;
    --text-left: left;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-tooltip-red {
    font-size: 12px !important;
}

.ngx-file-drop__drop-zone {
    border-radius: 10px !important;
    border: 2px dashed var(--second-color) !important;
    height: 174px !important;
    padding: 5px;
    .ngx-file-drop__content {
        display: grid !important;
        text-align: center !important;
        padding: 16px;
        .uil {
            font-size: 3rem;
            color: var(--second-color) !important;
        }
        button {
            background: var(--second-color) !important;
            color: #fff;
            border-radius: 5px;
            padding: 4px 0;
            margin: 5px;
        }
        strong {
            margin: 7px 0;
            color: var(--second-color);
        }
    }
}

.empty-img {
    display: grid;
    text-align: center;
    img {
        display: block;
        margin: auto;
        width: 2rem;
        filter: grayscale(.3);
    }
    span {
        color: #848587 !important;
        padding-top: 7px;
    }
}

// style sheared accordion
.pagination-section {
    text-align: center;
    margin-top: 1.5rem;
}

.ngx-pagination {
    a {
        text-decoration: auto;
    }
    .current {
        background: var(--second-color) !important;
        color: #fefefe;
    }
}

.ngx-toastr {
    width: 345px !important; // Specify toastr-dialog width for all devices
}
